# General Purpose
jupyter==1.0.0
pandas==1.1.5
tqdm==4.54.0
easydict==1.9
imgcat==0.5.0

# Plotting
matplotlib==3.3.4
seaborn==0.11.1

# Numerical Computing
numpy==1.19.5
scipy==1.5.4

# CV
scikit-image==0.17.2
tifffile==2021.1.11
opencv-python==4.4.0.46